* {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

header {
  background-image: url(..//IMG/fondo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 765px;
  overflow: hidden;

}

h1 {
  text-align: center;
  font-family: "Bitcount Prop Single Ink", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: weight;

}

.tabla1 {
  width: 700px;
  height: 430px;
  margin-right: 40px;
  margin-left: 60px;
  margin-top: -650px;
  background-color: rgb(3, 151, 3);
  padding-top: 10px;
  border-radius: 15px;
}

.imagen0 {
  margin-top: 90px;
  display: block;
  margin: auto;
  width: 25%;
}

.ptabla1 {
  background-color: white;
  color: black;
  height: 40px;
  width: 280px;
  margin-left: 200px;
  margin-top: 25px;
  text-align: center;

}

.letra {
  background-color: white;
  color: black;
  height: 40px;
  width: 130px;
  margin-left: 280px;
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;

}

.boton {
  background-color: white;
  color: black;
  height: 30px;
  width: 70px;
  margin-left: 308px;
  border-radius: 10px;
  text-align: center;

}


.tabla2 {
  width: 700px;
  height: 430px;
  margin-left: 800px;
  margin-top: -442px;
  background-color: rgb(3, 151, 3);
  padding-top: 10px;
  border-radius: 15px;
}

.listado {
  background-color: white;
  color: black;
  width: 190px;
  height: 340px;
  margin-left: 239px;
  margin-top: 25px;
  text-align: center;
}

.psecreta {
  color: black;
  margin-left: 47%;
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(3, 151, 3) ;

}

.victoria{
    background-color: rgba(255, 255, 0, 0.637);
    border-radius: 5px;
    width: 180px;
    height: 90px;
    margin-top: 10px;
    margin-left: 690px;
    text-align: center;
    position: absolute;
    display: none;

}

.derrota{
  background-color: rgba(172, 255, 47, 0.507);
    border-radius: 5px;
    width: 180px;
    height: 90px;
    margin-top: 10px;
    margin-left: 690px;
    text-align: center;
    position: absolute;
    display: none;
}



