* {
    margin: 0;
    border: 0;
    border-collapse: collapse;
  }
  


  .titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .titulo{
    text-align: center;
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:yellow;
    text-shadow:  3px 3px black;
    margin-top: 19px;
   
  }

main{
    background-image:url("..//IMG/fondo-matrix.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 678px;
     
}

.contenido{
  width: 100%;
  padding-top: 100px;

}


.ordenador{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
  
}

.pantalla{
  position: absolute;
  top: 310px;
  left: 670px;
  width:265px;
  height: 210px;
  background-color: black;
  color:rgb(6, 182, 6);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


