* {
  margin: 0;
  border: 0;
  border-collapse: collapse;
}

.link {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.banner {
  width: 100%;
  height: 350px;
}

nav {
  background-color: rgb(255, 0, 255);
  padding: 15px;
  text-align: center;
  margin-top: -10px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: large;
  padding: 10px;
}
.link:hover {
  font-size: 30px;
}

.indice {
  display: grid;
  grid-template-columns: 70% 30%;
}

h3 {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: aqua;
}

.parteizquierda {
  margin-left: 30px;
  width: 90%;
  text-align: justify;
}

.londres {
  width: 160px;
  height: 100px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}
.descripcion {
  margin-bottom: 18px;
}
.boton {
  color: white;
  background-color: aqua;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  width: 50px;
}

.boton:hover {
  color: rgb(255, 0, 255);
}

.partederecha {
  float: right;
  margin-top: 15px;
}
.tituloderecha {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: rgb(255, 0, 255);
}

.tituloderecha:hover {
  font-size: 30px;
}

.linkderecha {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Bebas Neue", serif;
  color: aqua;
}

.linkderecha:hover {
  font-size: 25px;
}

footer {
  background-color: rgb(255, 0, 255);
  padding: 15px;
  margin-top: 10px;
  color: white;
  margin-top: 20px;
}

.footer-parteizquierda {
  width: 90%;
  text-align: justify;
}

.footer-titulo {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.footer-descripcion {
  margin-left: 30px;
}

.footer-partederecha {
  text-align: right;
  margin-top: -60px;
}

.footer-tituloderecha {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.linkfooter {
  display: inline;
  font-family: "Bebas Neue", serif;
  color: white;
}

.footer-abajo {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: rgb(182, 6, 182);
}

/* **************   estilo de NOSOTROS.HTML **************** */
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}


.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;

  } 


.tarjeta{
  text-align: center;
  background-color: rgb(36, 186, 255);
  width: 200px;
  height: 260px;
  border-radius: 5px;
}
.cabecera{
  background-image:url(https://cdn.pixabay.com/photo/2025/02/08/19/28/ai-generated-9393128_1280.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: top;
  height:75px;
  margin-bottom: 40px;
  
}


.fotos{
  width: 75px;
  clip-path: circle(48.1% at 50% 50%);
  margin-top: 10px;
  margin-bottom: 15px;  
}


.telefono,.correo,.nombre,.numero{
  font-family: "Bebas Neue", serif;
  font-size:large ;
  margin-bottom: 10px;
}

.sub{
  text-shadow: 2px 2px 5px  rgb(255, 0, 255);
  font-family: "Bebas Neue", serif;
}


  

/* **************   estilo de CONTACTO.HTML **************** */




.tarjeta1{
  background-color:rgb(157, 37, 173);
  width: 200px;
  height: 450px;
  border-radius: 15px;
  margin-top: 40px;
  margin-bottom: 25px;
  margin-left: 500px;
}

header{
  color: white;
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin-left: 15px;
  margin-right:15px;
  margin-top: 20px;
}

.flex-container2{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}

.sites{
  color: white;
  margin-left: 15px;
  margin-right:15px;
  font-family: "Bebas Neue", serif;
 
}

.linkcontacto{
  color: red;
  text-decoration: none;
  margin-left: 15px;
  margin-right:15px;
  font-family: "Bebas Neue", serif;
}

.tamb{
  color: white;
  margin-left: 15px;
  margin-right:15px;
  font-family: "Bebas Neue", serif;
}

.calle{
  color: white;
  margin-left: 15px;
  margin-right:15px;
  font-family: "Bebas Neue", serif;
  text-align: center;
}

.titu-abajo{
  color: white;
  font-family: "Bebas Neue", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  margin-left: 15px;
  margin-right:15px;
}

.icons{
  width:16px;
  margin-left:5px ;
}

.tarjeta2{
  background-color:rgb(97, 19, 97);
  width: 500px;
  height: 480px;
  border-radius: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 35px;
  font-family: "Bebas Neue", serif;
}


form{
  margin-left: 15px;
  margin-right:15px;
}

.name,.last-name, .country,.message{
  color: white;
}

.text-name,.text-last-name,.text-country,.text-message{
  margin-top: 15px;
}



.submit{
  background-color: aqua;
 
}







